/*Special*/

body {
    background-image: url(../images/wood-background.jpg)
}

.darkoutyellow {
    background-color: rgba(218, 165, 32, 0.54) !important;
}

.darkoutblue {
    background-color: rgba(26, 26, 49, 1) !important;
}

#dancodes {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

#difficulty {
    position: absolute;
    font-size: 20px;
    top: 50px;
    left: 50px;
}

.winner-function-margin {
    margin-left: 30px !important;
}

.mute-on {
    color: red;
}

/*FIXED BUTTONS*/

.fixed-feedback {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    color: black !important;
}

.fixed-mute {
    position: fixed;
    bottom: 50px;
    left: 50px;
    font-size: 50px;
}

/*HIGHSCORE CLASSES*/

.high-score-title-font {
    font-size: 18px;
}

.highscore-info {
    font-size: 18px;
}

.high-score-score-font {
    font-size: 18px;
    display: inline;
}

/*---*/

.user-si-turn {
    font-size: 28px;
}

.level-box-after-start {
    margin-top: 135px !important;
}

.level-box-text-after-start {
    margin-top: 108px !important;
}

.visable {
    display: block !important;
}

.hidden {
    display: none;
}

.tac {
    text-align: center;
}

.cap {
    text-transform: uppercase;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.hyperlink {
    color: inherit;
    text-decoration: none;
}

.form-input {
    display: block !important;
    margin-bottom: 15px !important;
    width: 100% !important;
}

.send-score-form {
    width: 200px;
    margin-top: 50px;
}

.submit-button {
    background-color: lightgreen;
    margin-left: 55px;
}

.instructions {
    margin-top: 50px;
}

.instruct-button {
    font-size: 1.5em;
    color: black !important;
    width: 40%;
    display: inline;
    background-color: rgba(255, 255, 255, 0.2);
    transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
}

.credit-button {
    font-size: 1.5em;
    color: black !important;
    width: 40%;
    display: inline;
    background-color: rgba(255, 255, 255, 0.2);
    transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
}

.instruct-button:hover {
    font-size: 1.5em;
    color: black !important;
    width: 50%;
    display: inline;
    background-color: rgba(255, 255, 255, 1);
    transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
}

.credit-button:hover {
    font-size: 1.5em;
    color: black !important;
    width: 50%;
    display: inline;
    background-color: rgba(255, 255, 255, 1);
    transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
}

.start-button {
    cursor: pointer;
    border-radius: 30% !important;
    margin-left: 55px;
    font-size: 1.5em;
    color: #984749 !important;
    transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
}

.start-button:hover {
    cursor: pointer;
    border-radius: 30% !important;
    margin-left: 55px;
    font-size: 1.5em;
    color: black !important;
    transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
}

#start-button-div {
    position: absolute;
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 26px;
    margin-top: 75px;
}

.level-text {
    position: absolute;
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 92px;
    margin-top: 197px;
}

#simon {
    font-family: 'Gloria Hallelujah', cursive;
    position: absolute;
    font-size: 40px;
    margin-left: 47px;
    margin-top: 28px;
}

/*d8d8d8*/

#turn {
    position: absolute;
    background: #ff6f00;
    color: black;
    font-family: courier;
    font-size: 40px;
    height: 30px;
    width: 50px;
    margin-left: 90px;
    margin-top: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    bottom: 100px;
}

#border-circle {
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin: auto;
    margin-top: 60px;
    box-shadow: 8px 8px 15px 5px #888888;
}

/*Buttons*/

#purple-btn {
    background: #683a73;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin: auto;
    margin-top: 60px;
    top: 115px;
    left: 217px;
}

#cyan-btn {
    background: #347d7d;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin: auto;
    margin-top: 60px;
    top: -89px;
    right: 217px;
}

#green-btn {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
    background: darkgreen;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#red-btn {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    background: darkred;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#yellow-btn {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    background: goldenrod;
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#blue-btn {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
    background: darkblue;
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#orange-circle {
    position: absolute;
    background: #ff6f00;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.highscore-info {
    color: black;
    transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
}

.highscore-info:hover {
    color: red;
    transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
}

@media(max-width: 582px) {
    #difficulty {
        position: absolute;
        font-size: 15px;
        top: 100px;
        left: 10px;
    }
    
    #dancodes {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        border: 1px solid black;
        border-radius: 50%;
    }

    .user-si-turn {
        font-size: 15px;
    }

    .start-button {
        cursor: pointer;
        border-radius: 30% !important;
        margin-left: 55px;
        font-size: 1em;
        color: #984749 !important;
        transition: ease-in-out 0.5s;
        -moz-transition: ease-in-out 0.5s;
        -webkit-transition: ease-in-out 0.5s;
    }

    .start-button:hover {
        cursor: pointer;
        border-radius: 30% !important;
        margin-left: 55px;
        font-size: 1em;
        color: black !important;
        transition: ease-in-out 0.5s;
        -moz-transition: ease-in-out 0.5s;
        -webkit-transition: ease-in-out 0.5s;
    }

    #start-button-div {
        position: absolute;
        font-family: 'Gloria Hallelujah', cursive;
        margin-left: -25px;
        margin-top: 25px;
    }

    .level-text {
        position: absolute;
        font-family: 'Gloria Hallelujah', cursive;
        margin-left: 37px;
        margin-top: 82px;
        font-size: 12px;
    }

    #simon {
        font-family: 'Gloria Hallelujah', cursive;
        position: absolute;
        font-size: 17px;
        margin-left: 22px;
        margin-top: 3px;
    }

    #turn {
        position: absolute;
        background: #ff6f00;
        color: black;
        font-family: courier;
        font-size: 28px;
        height: 30px;
        width: 30px;
        margin-left: 38px;
        margin-top: 55px;
        text-align: center;
        vertical-align: middle;
        line-height: 30px;
        bottom: 40px;
    }

    #border-circle {
        background: #385a94;
        border-radius: 50%;
        height: 250px;
        width: 250px;
        position: relative;
        border-style: solid;
        border-width: 10px;
        margin: auto;
        margin-top: 60px;
        box-shadow: 8px 8px 15px 5px #888888;
    }

    /*Buttons*/
    #green-btn {
        position: absolute;
        height: 125px;
        width: 125px;
        border-radius: 125px 0 0 0;
        -moz-border-radius: 125px 0 0 0;
        -webkit-border-radius: 125px 0 0 0;
        background: darkgreen;
        top: 50%;
        left: 50%;
        margin: -125px 0px 0px -125px;
        border-style: solid;
        border-width: 5px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    #red-btn {
        position: absolute;
        height: 125px;
        width: 125px;
        border-radius: 0 125px 0 0;
        -moz-border-radius: 0 125px 0 0;
        -webkit-border-radius: 0 125px 0 0;
        background: darkred;
        top: 50%;
        left: 50%;
        margin: -125px 0px 0px 0px;
        border-style: solid;
        border-width: 5px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    #yellow-btn {
        position: absolute;
        height: 125px;
        width: 125px;
        border-radius: 0 0 0 125px;
        -moz-border-radius: 0 0 0 125px;
        -webkit-border-radius: 0 0 0 125px;
        background: goldenrod;
        top: 50%;
        left: 50%;
        margin: 0px -125px 0px -125px;
        border-style: solid;
        border-width: 5px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    #blue-btn {
        position: absolute;
        height: 125px;
        width: 125px;
        border-radius: 0 0 125px 0;
        -moz-border-radius: 0 0 125px 0;
        -webkit-border-radius: 0 0 125px 0;
        background: darkblue;
        top: 50%;
        left: 50%;
        margin: 0px 0px -125px 0px;
        border-style: solid;
        border-width: 5px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    #purple-btn {
        background: #683a73;
        border-radius: 50%;
        height: 62px;
        width: 62px;
        position: relative;
        border-style: solid;
        border-width: 10px;
        margin: auto;
        margin-top: 60px;
        top: 25px;
        left: 120px;
    }

    #cyan-btn {
        background: #347d7d;
        border-radius: 50%;
        height: 62px;
        width: 62px;
        position: relative;
        border-style: solid;
        border-width: 10px;
        margin: auto;
        margin-top: 60px;
        top: -115px;
        right: 118px;
    }

    #orange-circle {
        position: absolute;
        background: #ff6f00;
        border-radius: 50%;
        height: 125px;
        width: 125px;
        border-style: solid;
        border-width: 10px;
        top: 75%;
        left: 75%;
        margin: -125px 0px 0px -125px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .instruct-button {
        font-size: 1em;
        color: black !important;
        width: 40%;
        display: inline;
        background-color: rgba(255, 255, 255, 0.2);
        transition: ease-in-out 1s;
        -moz-transition: ease-in-out 1s;
        -o-transition: ease-in-out 1s;
        -webkit-transition: ease-in-out 1s;
    }

    .credit-button {
        font-size: 1em;
        color: black !important;
        width: 40%;
        display: inline;
        background-color: rgba(255, 255, 255, 0.2);
        transition: ease-in-out 1s;
        -moz-transition: ease-in-out 1s;
        -o-transition: ease-in-out 1s;
        -webkit-transition: ease-in-out 1s;
    }

    .instruct-button:hover {
        font-size: 1em;
        color: black !important;
        width: 50%;
        display: inline;
        background-color: rgba(255, 255, 255, 1);
        transition: ease-in-out 1s;
        -moz-transition: ease-in-out 1s;
        -o-transition: ease-in-out 1s;
        -webkit-transition: ease-in-out 1s;
    }

    .credit-button:hover {
        font-size: 1em;
        color: black !important;
        width: 50%;
        display: inline;
        background-color: rgba(255, 255, 255, 1);
        transition: ease-in-out 1s;
        -moz-transition: ease-in-out 1s;
        -o-transition: ease-in-out 1s;
        -webkit-transition: ease-in-out 1s;
    }

    .level-box-after-start {
        margin-top: 35px !important;
    }

    .level-box-text-after-start {
        margin-top: 65px !important;
    }

    .high-score-title-font {
        font-size: 18px;
    }

    .highscore-info {
        font-size: 18px;
    }

    .high-score-score-font {
        font-size: 18px;
        display: inline;
    }

    /*FIXED BUTTONS*/
    .fixed-feedback {
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 20px;
        color: black !important;
    }

    .fixed-mute {
        position: fixed;
        bottom: 10px;
        left: 10px;
        font-size: 20px;
    }
}

@media(max-width: 321px) {
    .start-button {
        cursor: pointer;
        border-radius: 30% !important;
        margin-left: 55px;
        font-size: 1em;
        color: #984749 !important;
        transition: ease-in-out 0.5s;
        -moz-transition: ease-in-out 0.5s;
        -webkit-transition: ease-in-out 0.5s;
    }

    .start-button:hover {
        cursor: pointer;
        border-radius: 30% !important;
        margin-left: 55px;
        font-size: 1em;
        color: black !important;
        transition: ease-in-out 0.5s;
        -moz-transition: ease-in-out 0.5s;
        -webkit-transition: ease-in-out 0.5s;
    }

    .level-box-after-start {
        margin-top: 35px !important;
    }

    .level-box-text-after-start {
        margin-top: 65px !important;
    }
}
